
<ul>
  <li><a routerLink="/myHome" routerLinkActive="active">myHome</a></li>

  <li>Buttons
    <ul>
      <li><a routerLink="/button/myFab" routerLinkActive="active">/button/myFab</a></li>
      <li><a routerLink="/button/myIconToggle" routerLinkActive="active">/button/myIconToggle</a></li>
    </ul>
  </li>


  <li>Dialog
    <ul>
      <li><a routerLink="/dialog/myDialog" routerLinkActive="active">/dialog/myDialog</a></li>
    </ul>
  </li>

  <li>Input
    <ul>
      <li><a routerLink="/input/myButton" routerLinkActive="active">/input/myButton</a></li>
    </ul>
  </li>

</ul>


