<nav class="navbar navbar-default" style="width:200px; ">
  <ul class="nav">
    <!--
    <li class="sidebar-brand">
      <a href="#">XXX平台</a>
    </li>
    -->


    <li class="dropdown clearfix">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">员工管理</a>
      <ul class="dropdown-menu" role="menu" style="position:relative;border: none;box-shadow: none;">
        <li><a ui-sref='user.list'>查询</a></li>
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-2</a></li>
      </ul>
    </li>
    <li class="dropdown clearfix">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">会员管理</a>
      <ul class="dropdown-menu" role="menu" style="position:relative;border: none;box-shadow: none;">
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-2</a></li>
      </ul>
    </li>

    <li class="dropdown clearfix">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">订单管理</a>
      <ul class="dropdown-menu" role="menu" style="position:relative;border: none;box-shadow: none;">
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-2</a></li>
      </ul>
    </li>
    <li class="dropdown clearfix">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">店铺管理</a>
      <ul class="dropdown-menu" role="menu" style="position:relative;border: none;box-shadow: none;">
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-2</a></li>
      </ul>
    </li>

    <li class="dropdown clearfix">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">活动管理</a>
      <ul class="dropdown-menu" role="menu" style="position:relative;border: none;box-shadow: none;">
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-2</a></li>
      </ul>
    </li>

    <li class="dropdown clearfix">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统设置</a>
      <ul class="dropdown-menu" role="menu" style="position:relative;border: none;box-shadow: none;">
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-1</a></li>
        <li><a href="#">TODO-2</a></li>
      </ul>
    </li>
  </ul>
</nav>