java/test/first-selenium/default.etcd
*.hprof
.flattened-pom.xml
target
classes
out
.project
.springBeans
.classpath
.settings
.venv
bin
!os/linux/prod-app-dir/app/apache-tomcat-x.x.x/bin
*.log
/owasp/first-AntiSamy/cleanResult
.pmd
*.iml
*.ipr
*.iws
*.swp
# .idea
.idea/shelf/
.idea/workspace.xml
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/a.*
.idea/b.*
.idea/c.*

.DS_Store
target-eclipse
bower_components
node_modules
build
.gradle
_site
.jekyll-metadata
*.xpi
gradle/my-gradle/data
js/my-ts/dist
dependency-reduced-pom.xml
dependency-reduced-pom-*.xml
.tmp
.slcache
.asscache
jspm_packages
~*


# 如果保留某个空目录 /a/b; 
# 则创建文件 /a/b/.gitkeep
# 并在该行前面追加 /a/b/*   
# 注意：一定要有 最后的 '/*'
!**/.gitkeep

**/.sdkmanrc
secretsmanager.properties
