target
.project
.springBeans
.classpath
.settings
bin
!os/linux/prod-app-dir/app/apache-tomcat-x.x.x/bin
*.log
/owasp/first-AntiSamy/cleanResult
.pmd
*.iml
*.ipr
*.iws
*.swp
.idea
.DS_Store
target-eclipse
bower_components
node_modules
build
.gradle
_site
.jekyll-metadata
*.xpi
gradle/my-gradle/data
js/my-ts/dist
.tmp
.slcache
.asscache

