<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <context:annotation-config/>
  <context:component-scan base-package="me.test" />

  <bean id="messageSource"
        class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>messageSource</value>
      </list>
    </property>
  </bean>

  <bean id="urlPathHelper"
        class="org.springframework.web.util.UrlPathHelper" />

  <!-- ============================================== 定义一个ExceptionResolver -->
  <bean class="me.test.first.spring.rs.exception.MyExceptionResolver">
    <property name="order" value="10" />
  </bean>

  <!-- ============================================== 定义一个MultipartResolver -->
  <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
  </bean>


  <!--
    - 通过对 HttpMessageConverter 接口的 read()、write() 方法 Open Call Hierarchy，
    - write(): 当 controler 的方法被 @ResponseBody 标注、或返回值是 HttpEntity 时，
    - 则会直接调用 HttpMessageConverter 进行输出，使用顺序是使用按照  HTTP Header 中
    - Accept 头部一次进行尝试输出。
    - 此时返回的 ModelAndView 为 null，所以不会走 ContentNegotiatingViewResolver。
    - read()：而对于请求的解析，则是根据HTTP Header 中 Content-Type 来找到相应的解析器。
    - 结论：对于请求的解析只能使用 HttpMessageConverter，而对于输出，则应尽量避免使用
    - 它（也即：不要使用 HttpEntity 或   @ResponseBody）。否则无法使用 ContentNegotiatingViewResolver
    - 根据路径后缀来使用不同 ViewResolver 的功能。
   -->

  <!-- ============================================== 定义ViewResolver -->
  <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"  >

  </mvc:annotation-driven>

  <mvc:interceptors>
    <bean class="me.test.first.spring.rs.interceptor.CacheControlInterceptor" />
  </mvc:interceptors>

  <bean id="contentNegotiationManager"
        class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
    <property name="mediaTypes" >
      <props>
        <prop key="json">application/json</prop>
        <prop key="xml">application/xml</prop>
      </props>
    </property>
    <property name="defaultContentType" value="application/json" />
  </bean>

</beans>
