<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:ldap="http://www.springframework.org/schema/ldap" xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap-2.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">


  <util:map id="configMap">
    <entry key="java.naming.ldap.factory.socket" value="me.test.MySSLSocketFactory"/>
    <entry key="java.naming.security.protocol" value="ssl"/>
  </util:map>

  <ldap:context-source
      url="ldaps://10.1.10.2:636"
      base="DC=TCGROUP,DC=LOCAL"
      username="zhangliangliang@eetop.com"
      password="xxxxxx"
      referral="follow"
      base-env-props-ref="configMap"
      />
  <!-- url="ldap://10.1.10.2:389" -->

  <ldap:ldap-template id="ldapTemplate" />

</beans>
