<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <variable name="my.log.path" value="${my.log.path:-/tmp/my/logs}" />
    <property name="FILE_LOG_PATTERN" value="%date{ISO8601}|%thread|%level|%logger{36}|%msg%n" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
<!--        <encoder>-->
<!--            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>-->
<!--        </encoder>-->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>
    <appender name="ROOT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${my.log.path}/root.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${my.log.path}/root.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>2</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="ROOT"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="me.test" level="INFO"/>

</configuration>
