<div class="demo">


  <div>
    <button pButton type="button" label="Primary" disabled></button>
  </div>
  <div>
    <button pButton type="button" icon="fa-close"></button>
  </div>
  <div>
    <button pButton type="button" label="Primary"></button>
  </div>
  <div>
    <button pButton type="button" label="Secondary" class="ui-button-secondary"></button>
  </div>
  <div>
    <button pButton type="button" label="Success" class="ui-button-success"></button>
  </div>
  <div>
    <button pButton type="button" label="Info" class="ui-button-info"></button>
  </div>
  <div>
    <button pButton type="button" label="Warning" class="ui-button-warning" icon="fa-check" iconPos="right"></button>
  </div>
  <div>
    <button pButton type="button" label="Danger" class="ui-button-danger" icon="fa-check" iconPos="left"></button>
  </div>


</div>










