<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <include resource="me/test/first/spring/boot/test/logback-included.xml"/>


    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>
