<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <variable name="my.log.path" value="${my.log.path:-/tmp/my/logs}" />
    <property name="FILE_LOG_PATTERN" value="%date{ISO8601}|%thread|%level|%logger{36}|%msg%n" />
    <conversionRule conversionWord="threadId" converterClass="me.test.first.spring.boot.test.ThreadIdConverter"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread][%threadId] %logger: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ROOT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${my.log.path}/root.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${my.log.path}/root.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>2</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>UTF-8</charset>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>
    <appender name="my.OpenTelemetryLogger.appender"
              class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <captureExperimentalAttributes>true</captureExperimentalAttributes>
        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
    </appender>
    <appender name="NDC.appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} |%X| - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- ch.qos.logback.classic.encoder.JsonEncoder 需要 logback 1.3.8+, 需要 slf4j 2.0+, 只有 spring boot 3.0+ 才支持 -->
<!--    <appender name="CONSOLE.json.appender" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">-->
<!--            <withFormattedMessage>true</withFormattedMessage>-->
<!--            <withMessage>false</withMessage>-->
<!--            <withArguments>false</withArguments>-->
<!--        </encoder>-->
<!--    </appender>-->


    <include resource="me/test/first/spring/boot/test/logback-included.xml"/>


    <root level="ERROR">
        <appender-ref ref="ROOT"/>
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="my.var" level="INFO" additivity="false">
        <appender-ref ref="ROOT"/>
    </logger>
    <logger name="my.ndc" level="INFO" additivity="false">
        <appender-ref ref="NDC.appender"/>
    </logger>
<!--    <logger name="my.json" level="INFO" additivity="false">-->
<!--        <appender-ref ref="CONSOLE.json.appender"/>-->
<!--    </logger>-->

    <logger name="io.opentelemetry.exporter.logging" level="INFO">
    </logger>
    <logger name="me.test" level="INFO">
    </logger>
    <logger name="org.springframework" level="TRACE">
    </logger>
    <logger name="my.OpenTelemetryLogger" level="INFO">
        <appender-ref ref="my.OpenTelemetryLogger.appender"/>
    </logger>



</configuration>
