<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, flexinitial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>study ng-material</title>
    <link rel="stylesheet" href="../bower_components/material-design-icons-font/iconfont/material-icons.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body layout="row" ng-cloak="">


<!-- 第一列：左侧边栏1 -->
<md-sidenav class="md-whiteframe-z3" md-component-id="left">
    <md-toolbar class="md-whiteframe-z1">
        <h1>Users</h1>
    </md-toolbar>

    <md-list>
        <md-list-item>
            <md-button>
                <md-icon md-font-set="material-icons">videocam</md-icon>
                Lia Luogo
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button>
                Lawrence Ray
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>


<div flex="" layout="column" class="md-whiteframe-z2" style="max-width:640px;margin-left: auto;margin-right: auto;">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="openLeftMenu()">
                <md-icon md-font-set="material-icons">menu</md-icon>
            </md-button>
            <h1 flex="" style="text-align: center;">btpka3</h1>
            <md-button class="md-icon-button">
                <md-icon md-font-set="material-icons">favorite</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex="" id="content">
        <md-button ng-click="openLeftMenu()">
            Open Left Menu
        </md-button>
        <md-icon class="glyphicon glyphicon-wrench"></md-icon>
        <md-icon md-font-icon="apple"/>
        <md-icon md-font-set="material-icons">accessibility</md-icon>

        <ng-md-icon icon="{{icons[iconIndex]}}" ng-style="{fill: colors[colorIndex], width:'48px', height:'48px'}" size="48" ng-click="changeIcon()"></ng-md-icon>

        <h2>Lia Luogo</h2>
        <p>
            I love cheese...
        </p>
    </md-content>
</div>

</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="../bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>
<script>
    (function () {
        'use strict';
        angular
                .module('MyApp', ['ngMaterial', 'ngMessages', 'ngMdIcons'])
                .controller('DemoCtrl', ['$scope', '$mdSidenav', function ($scope, $mdSidenav) {

                    $scope.openLeftMenu = function () {
                        $mdSidenav('left').toggle();
                    };

                    $scope.icons = ['office', 'facebook', 'twitter', 'apple', 'whatsapp', 'linkedin', 'windows'];
                    $scope.colors = ['lightgreen', 'pink', 'wheat', '#cc99ff', '#abcdef'];

                    $scope.changeIcon = function () {
                        $scope.iconIndex = Math.floor(Math.random() * $scope.icons.length);
                        $scope.colorIndex = Math.floor(Math.random() * $scope.colors.length);
                    };
                    $scope.changeIcon();
                }]);
    })();

</script>
</html>