<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, flexinitial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>study md-icon</title>
    <link rel="stylesheet" href="../bower_components/material-design-icons-font/iconfont/material-icons.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>

    <style>

    </style>
</head>
<body layout="">

<div flex="" layout="column">
    <div layout="row">
        <div flex="" layout="column">
            <md-button class="md-primary md-raised" ng-click="tab='a'">tab 1</md-button>
            <md-checkbox ng-repeat="i in data.a " ng-model="i.selected">{{i.v}}</md-checkbox>
        </div>
        <div flex="" layout="column">
            <md-button class="md-primary md-raised" ng-click="tab='b'">tab 2</md-button>
            <md-checkbox ng-repeat="i in data.b " ng-model="i.selected">{{i.v}}</md-checkbox>
        </div>
    </div>
    <div>
        <md-checkbox ng-checked="isSelectAll()" ng-click="toggleAll()">全选</md-checkbox>
        <div>$scope.tab = {{tab}}</div>
        <div>$scope.isSelectAll = {{isSelectAll()}}</div>
    </div>

</div>


</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="../bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>
<script>
    (function () {
        angular
                .module('MyApp', ['ngMaterial', 'ngMessages', 'ngMdIcons'])
                .controller('DemoCtrl', ['$scope', function ($scope) {


                    $scope.data = {
                        a: [
                            {
                                v: "a01",
                                selected: true
                            },
                            {
                                v: "a02",
                                selected: true
                            },
                            {
                                v: "a03",
                                selected: false
                            }
                        ],
                        b: [
                            {
                                v: "b01",
                                selected: true
                            },
                            {
                                v: "b02",
                                selected: false
                            },
                            {
                                v: "b03",
                                selected: false
                            }
                        ]
                    };

                    $scope.tab = 'a';

                    $scope.isSelectAll = function () {
                        var arr = $scope.data[$scope.tab];
                        for (var i = 0; i < arr.length; i++) {
                            if (!arr[i].selected) {
                                return false;
                            }
                        }
                        return true;
                    };

                    $scope.toggleAll = function () {

                        var newValue = !$scope.isSelectAll();
                        var arr = $scope.data[$scope.tab];

                        for (var i = 0; i < arr.length; i++) {
                            arr[i].selected = newValue;
                        }
                    };
                }]);
    })();

</script>
</html>