<!DOCTYPE html>
<html lang="en" ng-app="sidenavDemo1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, flexinitial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>tabs</title>
    <link rel="stylesheet" href="https://unpkg.com/angular-material@1.1.1/angular-material.css"/>
    <link rel="stylesheet" href="https://unpkg.com/material-design-icons-font@2.2.3/iconfont/material-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/angular-material-icons@0.7.1/angular-material-icons.css"/>
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.0-rc1/docs.css"/>

    <style>
        .c {
            border: 1px solid red;
            width: 320px;
        }

        .c .md-button._md-nav-button {
            min-width: 30px;
            padding: 12px 6px;
        }
    </style>
</head>
<body>


<div ng-controller="AppCtrl" class="sample">
    <div class="c">
        <md-content class="">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('page1')" name="page1">page1</md-nav-item>
                <md-nav-item md-nav-click="goto('page2')" name="page2">page2</md-nav-item>
                <md-nav-item md-nav-click="goto('page3')" name="page3">page3</md-nav-item>
                <md-nav-item md-nav-click="goto('page4')" name="page4">page4</md-nav-item>
                <md-nav-item md-nav-click="goto('page5')" name="page5">page5</md-nav-item>
            </md-nav-bar>
            <span>{{currentNavItem}}</span>

            <select ng-model="currentNavItem">
                <option value="page1">page1</option>
                <option value="page2">page2</option>
                <option value="page3">page3</option>
                <option value="page4">page4</option>
                <option value="page5">page5</option>
            </select>
    </div>

    <div class="d">
        <md-content class="">
            <md-nav-bar md-selected-nav-item="currentNavItem2">
                <md-nav-item ng-repeat="tab in tabs"
                             md-nav-click="goto('page1')"
                             name="{{tab.name}}">{{tab.title}}
                </md-nav-item>
            </md-nav-bar>
            <div>currentNavItem2 = <input type="text" ng-model="currentNavItem2"></div>
            <div>idx = <input type="text" ng-model="idx"></div>
            <div><button ng-click="del(idx)">del</button></div>
            <div>先选中 P4, 再删除第二个位置（idx==1)时，动画有问题。</div>
    </div>

</div>


<script src="https://unpkg.com/jquery@3.1.1/dist/jquery.js"></script>
<script src="https://unpkg.com/angular@1.6.1/angular.js"></script>
<script src="https://unpkg.com/angular-animate@1.6.1/angular-animate.js"></script>
<script src="https://unpkg.com/angular-aria@1.6.1/angular-aria.js"></script>
<script src="https://unpkg.com/angular-messages@1.6.1/angular-messages.js"></script>
<script src="https://unpkg.com/angular-material@1.1.1/angular-material.js"></script>
<script src="https://unpkg.com/angular-sanitize@1.6.1/angular-sanitize.js"></script>

<script>
    angular
        .module('sidenavDemo1', ['ngMaterial', 'ngSanitize'])
        .controller('AppCtrl', AppCtrl);

    function AppCtrl($scope, $log,$timeout) {
        $scope.currentNavItem = "page2";
        $scope.tabs = [];
        for (var i = 0; i < 5; i++) {
            $scope.tabs.push({
                name: "p" + i,
                title: "p" + i
            });
        }
        $scope.idx = 1;
        $scope.currentNavItem2 = $scope.tabs[1].name;
        $scope.del = function (idx) {

            var curIdx = $scope.tabs.findIndex(function (ele) {
                return ele.name === $scope.currentNavItem2;
            });


            $scope.tabs.splice(idx, 1);
            console.log(curIdx, curIdx - 2, curIdx - 1);

//            $scope.currentNavItem2 = $scope.tabs[curIdx - 2].name;
//
            $scope.currentNavItem2 = $scope.tabs[0].name;
            $timeout(function(){
                $scope.currentNavItem2 = $scope.tabs[curIdx - 1].name;
            });

//            $scope.$digest();

        }
    }
</script>
</body>
</html>