<!DOCTYPE html>
<html lang="en" ng-app="sidenavDemo1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>tabs</title>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../bower_components/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>
</head>
<body>


<div ng-controller="AppCtrl as vm" class="sample" layout="column" ng-cloak>
    <md-tabs md-selected="selectedIndex"
             md-border-bottom
             md-dynamic-height>
        <md-tab ng-repeat="tab in vm.tabs"
                label="{{tab.title}}">
            {{tab.content}}
            <md-button ng-click="vm.reload()">reload</md-button>
            <md-button ng-click="vm.reload2()">reload2</md-button>
            <md-button ng-click="vm.reload3()">reload3</md-button>
            selectedIndex = {{selectedIndex}}

            <pre>
                {{vm.tabs|json}}
            </pre>
        </md-tab>
    </md-tabs>
</div>


<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

<script>
    angular
            .module('sidenavDemo1', ['ngMaterial', 'ngSanitize'])
            .controller('AppCtrl', AppCtrl);

    function AppCtrl($scope, $log) {

        var vm = this;

        function genData() {
            var arr = [];
            for (var i = 0; i < 3; i++) {
                arr.push({title: i, content: i * 100 + "  " + new Date()})
            }
            return arr;
        }


        vm.reload = function () {
            vm.tabs = genData();
        };

        vm.reload2 = function () {
            var newData = genData();
            vm.tabs.length = 0;
            console.log("-------------", vm.tabs);
            vm.tabs.push.apply(vm.tabs, newData)
        };

        // 为了避免重新初始化tab，只能 深copy
        vm.reload3 = function () {
            var newData = genData();

            vm.tabs.forEach(function (element, index, array) {
                angular.copy(newData[index], vm.tabs[index])
            });
        };

        vm.reload();

    }
</script>
</body>
</html>