<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-controller="DemoCtrl as vm" layout="column" ng-cloak="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, flexinitial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>study ng-material</title>
    <link rel="stylesheet" href="../bower_components/material-design-icons-font/iconfont/material-icons.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak="">

<md-button ng-click="vm.showSimple()">showSimple</md-button>
<md-button ng-click="vm.simple()">show() + simple()</md-button>

<md-button ng-click="vm.show()">show()</md-button>

</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="../bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>
<script>
    (function () {
        'use strict';
        angular
                .module('MyApp', ['ngMaterial', 'ngMessages', 'ngMdIcons'])
                .controller('DemoCtrl', ['$scope', '$mdSidenav', '$mdToast', function ($scope, $mdSidenav, $mdToast) {
                    var vm = this;
                    vm.showSimple = function () {
                        $mdToast.showSimple("aaaaaaaaaaa");
                    };
                    vm.simple = function () {
                        $mdToast.show($mdToast.simple()
                                .textContent('Hello!')
                                .highlightAction(true)
                                .position("top right")
                                .hideDelay(50000)
                                .capsule(false)
                                .action("<md-icon md-font-set='material-icons'>close</md-icon>")

                        );
                    };
                    vm.show = function () {
                        $mdToast.show({
                            template: '<md-toast>' +
                            '<span class="md-toast-text" flex>Custom toast!</span>' +
                            '<md-icon md-font-set="material-icons md-toast-text" style="color:#FFF;" ng-click="">close</md-icon>' +
                            '</md-toast>',
                            textContent: "bbbb",
                            position: "top right",
                            hideDelay: 50000
                        });
                    };
                }]);
    })();

</script>
</html>