<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, flexinitial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>study ng-repeat</title>
    <link rel="stylesheet" href="../bower_components/material-design-icons-font/iconfont/material-icons.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>
</head>
<body>

<ul>
    <li ng-repeat="aaa in list">
        <md-button ng-click="show(aaa, {key:aaa})">{{aaa}}</md-button>
    </li>
</ul>

<ol>
    <li ng-repeat="bbb in list2" ng-if="removeFromList2.indexOf(bbb) < 0">{{bbb}}</li>
</ol>
<ul>
    <li ng-repeat="ccc in list2 | filter:expr">{{ccc}}</li>
</ul>

<ul> 索引正序
    <li ng-repeat="ccc in list2 | orderBy:$index:false">{{ccc}}</li>
</ul>
<ul> 索引逆序
    <li ng-repeat="ccc in list2 | orderBy:$index:true">{{ccc}}</li>
</ul>
</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="../bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>
<script>
    (function () {
        'use strict';
        angular
                .module('MyApp', ['ngMaterial', 'ngMessages', 'ngMdIcons'])
                .controller('DemoCtrl', ['$scope', function ($scope) {
                    $scope.list = [{item: "111"}, "222", ["333"]];
                    $scope.show = function () {
                        console.log("show", arguments);
                    };
                    $scope.removeFromList2 = ["ccc"];

                    $scope.list2 = ["aaa", "bbb", "ccc", "ddd"];

                    $scope.expr = function (o) {
                        return $scope.removeFromList2.indexOf(o) < 0;
                    };
                    $scope.com = function (actual, expected) {

                    };
                }]);

    })();

</script>
</html>