<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>study md-icon</title>
    <link rel="stylesheet" href="../bower_components/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>
</head>
<body>

<md-button class="md-raised" ng-click="aaa(true,true)">resolve-resolve</md-button>
<md-button class="md-raised md-primary" ng-click="aaa(true,false)">resolve-reject</md-button>
<md-button class="md-raised md-accent" ng-click="aaa(false,true)">reject-resolve</md-button>
<md-button class="md-raised md-warn" ng-click="aaa(false,false)">reject-reject</md-button>

</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="../bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>
<script>
    (function () {
        angular
                .module('MyApp', ['ngMaterial', 'ngMessages', 'ngMdIcons'])
                .controller('DemoCtrl', ['$scope', function ($scope) {

                    $scope.aaa = function (should1Resolve, should2Resolve) {
                        console.log("0 clicked");
                        var p = new Promise(function (resolve, reject) {

                            var data = {
                                a: "aaa"
                            };

                            setTimeout(function () {
                                if (should1Resolve) {
                                    resolve(data);
                                } else {
                                    reject(data);
                                }
                            }, 3000);
                        });

                        p.then(function (data) {
                            console.log("1 resolve : ", data);
                            data.resolved1 = true;

                            if (should2Resolve) {
                                return Promise.resolve(data);
                            } else {
                                return Promise.reject(data);
                            }

                        }, function (data) {
                            console.log("1 rejected : ", data);
                            data.rejected1 = true;

                            if (should2Resolve) {
                                return Promise.resolve(data);
                            } else {
                                return Promise.reject(data);
                            }

                        }).then(function (data) {
                            console.log("2 resolve : ", data);
                            data.resolved2 = true;
                            return data;

                        }, function (data) {
                            console.log("2 rejected : ", data);
                            data.rejected2 = true;
                            return data;

                        });
                    };
                }]);
    })();

</script>
</html>