<!DOCTYPE html>
<html lang="en" ng-app="sidenavDemo1">
<head>
    <meta charset="UTF-8">
    <title>fixed header and fixed footer</title>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>tabs</title>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../bower_components/material-design-icons-font/iconfont/material-icons.css">
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>
    <link rel="stylesheet" href="https://material.angularjs.org/1.1.0-rc1/docs.css"/>
<!-- http://stackoverflow.com/questions/34720648/angular-material-fixed-toolbar-and-sticky-footer/34724968#34724968 -->
</head>
<body layout="row">


<div ng-controller="AppCtrl" class="sample" layout="column" flex ng-cloak>


    <md-toolbar class="md-medium-tall">
        <div class="md-toolbar-tools">
            <span>HEADER</span>
            <span flex></span>
            <md-button class="md-raised" ng-click="toggleContent(!displayContent)">On/Off</md-button>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-content layout="row" flex>
        <div layout="column" flex>
            <div ng-if="displayContent" style="background-color:SteelBlue;color:white;"
                 ng-repeat="card in cards|limitTo: displayLim">body {{card.title}}
            </div>
            <div style="background-color: red;" flex></div>
        </div>
    </md-content>

    <div layout="row" class="footer" layout-align="center center">
        <h2>My Footer</h2>
    </div>

</div>


<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>

<script>
    angular
            .module('sidenavDemo1', ['ngMaterial', 'ngSanitize'])
            .config(function ($provide) {
                $provide.decorator("$sanitize", function ($delegate, $log) {
                    return function (text, target) {

                        var result = $delegate(text, target);
                        $log.info("$sanitize input: " + text);
                        $log.info("$sanitize output: " + result);
                        return result;
                    };
                });
            })
            .controller('AppCtrl', AppCtrl);

    function AppCtrl($scope, $log) {
        $scope.cards = [];

        for (var i = 0; i < 100; i++) {
            $scope.cards.push({
                text: i + ' : Bla bla bla bla bla bla bla ',
                title: i + ' : Bla'
            })
        }
        $scope.displayContent = true;
        $scope.displayLim = 100;
        $scope.toggleContent = function (showContent) {
            $scope.displayContent = showContent;
        };
    }
</script>
</body>
</html>