<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
  xmlns:p="http://www.springframework.org/schema/p">

  <bean name="authenticationFilter"
        class="org.jasig.cas.client.authentication.AuthenticationFilter"
        p:casServerLoginUrl="https://localhost:8443/cas/login"
        p:renew="false"
        p:gateway="false"
        p:service="https://my.local.service.com/cas-client" />

  <bean name="ticketValidationFilter"
        class="org.jasig.cas.client.validation.Cas10TicketValidationFilter"
        p:service="https://my.local.service.com/cas-client">
    <property name="ticketValidator">
      <bean class="org.jasig.cas.client.validation.Cas10TicketValidator">
        <constructor-arg index="0" value="https://localhost:8443/cas" />
      </bean>
    </property>
  </bean>
  
  <bean name="ticketValidationFilter"
        class="org.jasig.cas.client.validation.Saml11TicketValidationFilter"
        p:service="https://my.local.service.com/cas-client">
    <property name="ticketValidator">
      <bean class="org.jasig.cas.client.validation.Saml11TicketValidator">
        <constructor-arg index="0" value="https://localhost:8443/cas" />
      </bean>
    </property>
  </bean>
</beans>
