<div class="demo">
  <div>
    <mat-form-field class="example-form-field">
      <input matInput placeholder="Favorite food" [(ngModel)]="value">
      <button mat-button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"  (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Autosize textarea" matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </div>
</div>
