<div class="aaa" (click)="changeNum()"> aaa.v = {{v}}, n = {{n}}</div>


<ul>
  <li><a routerLink="/myHome" routerLinkActive="active">myHome</a></li>


  <li>Input
    <ul>
      <li><a routerLink="/input/myDropdown" routerLinkActive="active">/input/myDropdown</a></li>
      <li><a routerLink="/input/mySlider" routerLinkActive="active">/input/mySlider</a></li>
    </ul>
  </li>

  <li>Button
    <ul>
      <li><a routerLink="/button/myButton" routerLinkActive="active">/button/myButton</a></li>
      <li><a routerLink="/button/mySplitButton" routerLinkActive="active">/button/mySplitButton</a></li>
    </ul>
  </li>

  <li>Menu
    <ul>
      <li><a routerLink="/menu/myMenu" routerLinkActive="active">/menu/myMenu</a></li>
    </ul>
  </li>

</ul>
