<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] [first-spring-stateless] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>first-spring-stateless.log</file>
    <append>true</append>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] [first-spring-stateless] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="me.test" level="DEBUG"/>
  <!--
  <logger name="org.springframework" level="DEBUG"/>
  <logger name="org.datanucleus" level="DEBUG"/>
   -->

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
