999<span class="badge badge-purple">15</span>
<button class="btn btn-primary"><clr-icon shape="home"></clr-icon> Primary</button>
<button class="btn btn-success"><span class="badge badge-purple">15</span>Success</button>
<button class="btn btn-danger" (click)="openModal()" >open Modal</button>
<clr-icon shape="info-circle" size="36"></clr-icon>


<clr-modal [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modalOpened = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modalOpened = false">Ok</button>
  </div>
</clr-modal>

