<h1>
  {{title}}
</h1>


<ul>
  <li>myService : {{myService.add(1,2)}}, myServiceResult : {{myServiceResult}}</li>
  <li>
    <my-component></my-component>
    <p>sss</p>
  </li>
  <li>{{myPipeSrc|myPipe:" aa":" bb"}}</li>
  <li>
    <span my-directive highlightColor="yellow"> MyDirective - yellow</span>
    <span my-directive [highlightColor]="'orange'"> MyDirective - orange</span>
  </li>
  <li>
    <a routerLink="index.html" routerLinkActive="active">aaa</a>
    <a routerLink="bbb" routerLinkActive="active">bbb</a>
    <a routerLink="ccc" routerLinkActive="active">ccc</a>
    <a routerLink="http" routerLinkActive="active">http</a>
    <a routerLink="flex" routerLinkActive="active">flex</a>
    <a routerLink="mat" routerLinkActive="active">mat</a>
    <a routerLink="primeng" routerLinkActive="active">primeng</a>
    <a routerLink="ionic" routerLinkActive="active">ionic</a>
    <a routerLink="clarity" routerLinkActive="active">clarity</a>
  </li>
</ul>

<div style="border:1px solid blue;" title="路由内容区域">
  <router-outlet></router-outlet>
</div>

<!--<div>-->
  <!--<mat-test></mat-test>-->
<!--</div>-->

<div style="border: 1px solid red;" title="oauth 测试区">

  <h1 *ngIf="!name">
    Hallo
  </h1>
  <h1 *ngIf="name">
    Hallo, {{name}}
  </h1>

  <button class="btn btn-default" (click)="login()">Login</button>
  <button class="btn btn-default" (click)="logoff()">Logout</button>
  <button class="btn btn-default" (click)="showAt()">show at</button>


  <div>
    Username/Passwort zum Testen: max/geheim
  </div>


  <div i18n="你的姓名@@your.name" i18n-title title="Angular logo">your username</div>
</div>
