<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v2.1.0.RELEASE/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/ -->
    <!--<include resource="org/springframework/boot/logging/logback/defaults.xml" />-->


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="jsonConsole" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"boot2-demo"}</customFields>
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
        </encoder>
    </appender>

    <!--
     阿里云 SLS 服务入口
     https://help.aliyun.com/document_detail/29008.html
     https://github.com/aliyun/aliyun-log-logback-appender/blob/master/README.md
     -->
    <appender name="sls" class="com.aliyun.openservices.log.logback.LoghubAppender">
        <endpoint>xxx.cn-hangzhou-intranet.log.aliyuncs.com</endpoint>
        <accessKeyId>your accesskey id</accessKeyId>
        <accessKeySecret>your accesskey</accessKeySecret>
        <project>your project</project>
        <logStore>your logStore</logStore>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.github.btpka3" level="INFO" additivity="false">
        <appender-ref ref="jsonConsole"/>
    </logger>

</configuration>