<ul>
  <li><a routerLink="/myHome" routerLinkActive="active">myHome</a></li>


  <li>Button
    <ul>
      <li><a routerLink="/button/myButton" routerLinkActive="active">/button/myButton</a></li>
      <li><a routerLink="/button/myChips" routerLinkActive="active">/button/myChips</a></li>
    </ul>
  </li>

  <li>Form
    <ul>
      <li><a routerLink="/form/myAutocomplete" routerLinkActive="active">/form/myAutocomplete</a></li>
      <li><a routerLink="/form/myCheckbox" routerLinkActive="active">/form/myCheckbox</a></li>
      <li><a routerLink="/form/myInput" routerLinkActive="active">/form/myInput</a></li>
      <li><a routerLink="/form/mySelect" routerLinkActive="active">/form/mySelect</a></li>
    </ul>
  </li>

  <li>Layout
    <ul>
      <li><a routerLink="/layout/myList" routerLinkActive="active">/layout/myList</a></li>
      <li><a routerLink="/layout/myExpansion" routerLinkActive="active">/layout/myExpansion</a></li>
    </ul>
  </li>

  <li>Navigation
    <ul>
      <li><a routerLink="/navigation/myToolbar" routerLinkActive="active">/navigation/myToolbar</a></li>
      <li><a routerLink="/navigation/mySidenav" routerLinkActive="active">/navigation/mySidenav</a></li>
    </ul>
  </li>

  <li>Pops
    <ul>
      <li><a routerLink="/pops/mySnackBar" routerLinkActive="active">/pops/mySnackBar</a></li>
    </ul>
  </li>

  <li>Bpac
    <ul>
      <li><a routerLink="/bpac/about" routerLinkActive="active">/bpac/about</a></li>
      <li><a routerLink="/bpac/proxy/combine" routerLinkActive="active">/bpac/proxy/combine</a></li>
      <li><a routerLink="/bpac/proxy/dynamic" routerLinkActive="active">/bpac/proxy/dynamic</a></li>
      <li><a routerLink="/bpac/proxy/dynamic/test" routerLinkActive="active">/bpac/proxy/dynamic/test</a></li>
      <li><a routerLink="/bpac/proxy/simple" routerLinkActive="active">/bpac/proxy/simple</a></li>
      <li><a routerLink="/bpac/sideNav" routerLinkActive="active">/bpac/sideNav</a></li>
      <li><a routerLink="/bpac/status" routerLinkActive="active">/bpac/status</a></li>
    </ul>
  </li>

</ul>
