<ul>
  <li><a routerLink="/myHome" routerLinkActive="active">myHome</a></li>


  <li>Button
    <ul>
      <li><a routerLink="/button/myButton" routerLinkActive="active">/button/myButton</a></li>
      <li><a routerLink="/button/myChips" routerLinkActive="active">/button/myChips</a></li>
    </ul>
  </li>

  <li>Form
    <ul>
      <li><a routerLink="/form/myAutocomplete" routerLinkActive="active">/form/myAutocomplete</a></li>
      <li><a routerLink="/form/myCheckbox" routerLinkActive="active">/form/myCheckbox</a></li>
      <li><a routerLink="/form/myInput" routerLinkActive="active">/form/myInput</a></li>
      <li><a routerLink="/form/mySelect" routerLinkActive="active">/form/mySelect</a></li>
    </ul>
  </li>

  <li>Layout
    <ul>
      <li><a routerLink="/layout/myList" routerLinkActive="active">/layout/myList</a></li>
    </ul>
  </li>

  <li>Navigation
    <ul>
      <li><a routerLink="/navigation/myToolbar" routerLinkActive="active">/navigation/myToolbar</a></li>
    </ul>
  </li>

  <li>Pops
    <ul>
      <li><a routerLink="/pops/mySnackBar" routerLinkActive="active">/pops/mySnackBar</a></li>
    </ul>
  </li>

</ul>
