<div class="demo">

  <div>
    <button mat-button color="primary">Click me!</button>
  </div>

  <div>
    <button mat-raised-button color="accent">Click me!</button>
  </div>

  <div>
    <button mat-icon-button><mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button>
  </div>

  <div>
    <button mat-fab color="warn"><mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button>
  </div>

  <div>
    <button mat-mini-fab><mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon></button>
  </div>
</div>
