
@font-face {font-family: "zzzF";
    src: url('iconfont20160317.eot'); /* IE9*/
    src: url('iconfont20160317.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont20160317.woff') format('woff'), /* chrome, firefox */
    url('iconfont20160317.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont20160317.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.zzz {
    font-family: 'zzzF';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
.icon-fire:before { content: "\e690"; }
.icon-after-sales-outlets:before { content: "\e602"; }
.icon-question:before { content: "\e63c"; }
.icon-sort:before { content: "\e637"; }
.icon-triangle-down-invert:before { content: "\e60d"; }
.icon-experience:before { content: "\e62e"; }
.icon-coupon-circle:before { content: "\e607"; }
.icon-t-shield:before { content: "\e63a"; }
.icon-refresh:before { content: "\e62d"; }
.icon-dianhua:before { content: "\e659"; }
.icon-sale:before { content: "\e679"; }
.icon-record:before { content: "\e684"; }
.icon-address2:before { content: "\e643"; }
.icon-tianjia:before { content: "\e68f"; }
.icon-plus:before { content: "\e603"; }
.icon-comment:before { content: "\e615"; }
.icon-badge:before { content: "\e616"; }
.icon-exchange-circle:before { content: "\e618"; }
.icon-click:before { content: "\e67a"; }
.icon-delete-circle-invert:before { content: "\e631"; }
.icon-cash-circle:before { content: "\e61b"; }
.icon-qq:before { content: "\e61c"; }
.icon-key:before { content: "\e61d"; }
.icon-user-circle-invert:before { content: "\e625"; }
.icon-selected3:before { content: "\e691"; }
.icon-add:before { content: "\e692"; }
.icon-discuss:before { content: "\e678"; }
.icon-shopping:before { content: "\e67f"; }
.icon-setting:before { content: "\e673"; }
.icon-gender:before { content: "\e688"; }
.icon-kingsilk:before { content: "\e626"; }
.icon-cash-loop:before { content: "\e601"; }
.icon-home2:before { content: "\e63e"; }
.icon-order:before { content: "\e604"; }
.icon-menu:before { content: "\e605"; }
.icon-cart:before { content: "\e606"; }
.icon-assets:before { content: "\e60b"; }
.icon-unchecked:before { content: "\e60c"; }
.icon-checked-circle-invert:before { content: "\e611"; }
.icon-checked-point:before { content: "\e612"; }
.icon-timing:before { content: "\e613"; }
.icon-search:before { content: "\e619"; }
.icon-tags:before { content: "\e61a"; }
.icon-flower:before { content: "\e624"; }
.icon-delivery:before { content: "\e628"; }
.icon-payment:before { content: "\e629"; }
.icon-shipping:before { content: "\e62a"; }
.icon-service-hall:before { content: "\e62b"; }
.icon-star-hollow:before { content: "\e630"; }
.icon-star-invert:before { content: "\e632"; }
.icon-scan:before { content: "\e634"; }
.icon-add-square-dotted:before { content: "\e638"; }
.icon-question-circle:before { content: "\e640"; }
.icon-close:before { content: "\e642"; }
.icon-trash:before { content: "\e644"; }
.icon-edit:before { content: "\e645"; }
.icon-feedback:before { content: "\e646"; }
.icon-add-square-invert:before { content: "\e647"; }
.icon-more-square-invert:before { content: "\e648"; }
.icon-circle-invert-delete:before { content: "\e64a"; }
.icon-up-circle:before { content: "\e64b"; }
.icon-address:before { content: "\e64c"; }
.icon-info-circle:before { content: "\e64d"; }
.icon-point:before { content: "\e649"; }
.icon-more-circle:before { content: "\e64e"; }
.icon-alarm-clock:before { content: "\e64f"; }
.icon-up:before { content: "\e600"; }
.icon-down:before { content: "\e617"; }
.icon-right:before { content: "\e61e"; }
.icon-left:before { content: "\e61f"; }
.icon-user:before { content: "\e621"; }
.icon-password:before { content: "\e622"; }
.icon-weibo:before { content: "\e60e"; }
.icon-weixin:before { content: "\e610"; }
.icon-alipay:before { content: "\e60f"; }
.icon-plus-shield:before { content: "\e608"; }
.icon-call-center:before { content: "\e609"; }
.icon-sales-outlets:before { content: "\e60a"; }
.icon-matrix:before { content: "\e635"; }
.icon-real-shield:before { content: "\e63b"; }
.icon-paper:before { content: "\e633"; }
.icon-avatar:before { content: "\e614"; }
.icon-line-vertical:before { content: "\e620"; }
.icon-comments:before { content: "\e623"; }
.icon-smile:before { content: "\e62f"; }
.icon-iconfontshangpinshangjia:before { content: "\e636"; }
.icon-iconfontshangpinxiajia:before { content: "\e639"; }
.icon-help:before { content: "\e63d"; }
.icon-mailbox:before { content: "\e641"; }
.icon-person:before { content: "\e650"; }
.icon-house:before { content: "\e651"; }
.icon-buy:before { content: "\e652"; }
.icon-birthday:before { content: "\e68a"; }
.icon-close1:before { content: "\e653"; }
.icon-key1:before { content: "\e654"; }
.icon-right1:before { content: "\e655"; }
.icon-left1:before { content: "\e656"; }
.icon-location1:before { content: "\e67c"; }
.icon-star1:before { content: "\e657"; }
.icon-star-solid:before { content: "\e658"; }
.icon-duihao:before { content: "\e686"; }
.icon-help1:before { content: "\e65a"; }
.icon-nickname:before { content: "\e65d"; }
.icon-location:before { content: "\e65e"; }
.icon-verify:before { content: "\e67d"; }
.icon-arrow:before { content: "\e663"; }
.icon-current:before { content: "\e65c"; }
.icon-remind:before { content: "\e680"; }
.icon-uncheck:before { content: "\e664"; }
.icon-checked:before { content: "\e665"; }
.icon-zhuyezhucaidan:before { content: "\e666"; }
.icon-zhuyebeizifuwu:before { content: "\e668"; }
.icon-zhuyegouwuche2:before { content: "\e66a"; }
.icon-serve:before { content: "\e667"; }
.icon-update:before { content: "\e66c"; }
.icon-add1:before { content: "\e66d"; }
.icon-disinfect:before { content: "\e66e"; }
.icon-sterilization:before { content: "\e66f"; }
.icon-change:before { content: "\e670"; }
.icon-cleaning:before { content: "\e671"; }
.icon-fanhuidingbu:before { content: "\e672"; }
.icon-up1:before { content: "\e674"; }
.icon-phone:before { content: "\e681"; }
.icon-shrink:before { content: "\e682"; }
.icon-unfold:before { content: "\e661"; }
.icon-close2:before { content: "\e65f"; }
.icon-edit1:before { content: "\e662"; }
.icon-guide:before { content: "\e660"; }
.icon-service1:before { content: "\e677"; }
.icon-help1:before { content: "\e67e"; }
.icon-house1:before { content: "\e683"; }
.icon-tags1:before { content: "\e67b"; }
.icon-matrix1:before { content: "\e65b"; }
.icon-goods:before { content: "\e685"; }
.icon-head:before { content: "\e687"; }
.icon-name:before { content: "\e689"; }
.icon-site:before { content: "\e68b"; }
.icon-telephone:before { content: "\e63f"; }
.icon-delete3:before { content: "\e62c"; }
.icon-xialashouji:before { content: "\e68e"; }
.icon-silkadd:before { content: "\e669"; }
.icon-silkdisinfect:before { content: "\e66b"; }
.icon-changeTireset:before { content: "\e675"; }
.icon-Breakupwith:before { content: "\e676"; }
.icon-Tiresetofcleaning:before { content: "\e68c"; }
.icon-Silkrenovation:before { content: "\e68d"; }
.icon-newproduct:before { content: "\e627"; }
