<div class="demo">

  <div>
    <button class="mdc-button">
      Button
    </button>
  </div>

  <div>
    <button class="mdc-button mdc-button--unelevated">
      Button
    </button>

    mdc-button--unelevated
  </div>

  <div>
    <button class="mdc-button mdc-button--stroked">
      Button
    </button>

    mdc-button--unelevated
  </div>


  <div>
    <button class="mdc-button mdc-button--stroked mdc-button--dense">
      Button
    </button>

    mdc-button--dense
  </div>

  <div>
    <button class="mdc-button mdc-button--stroked mdc-button--compact">
      Button
    </button>

    mdc-button--compact
  </div>

  <div>
    <button class="mdc-button mdc-button--raised" id="rippleBtn">
      <span class="material-icons mdc-button__icon">favorite</span>
      Button
    </button>

    mdc-button--raised
  </div>


  <div>
    <button class="mdc-button mdc-button--raised" disabled>
      <span class="material-icons mdc-button__icon">favorite</span>
      Button
    </button>

    mdc-button--raised
  </div>
</div>
