<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] [first-spring-cas] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
<!-- 
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>pac4j-oauth-tencent.log</file>
    <append>true</append>
    <encoder>
      <pattern>%-4relative [%thread] [first-spring-cas] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
 -->

  <logger name="me.test" level="DEBUG"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
