<mat-sidenav-container class="example-container" fxFlex>


  <mat-sidenav mode="over" #sideNav>
    Sidenav content

  </mat-sidenav>

  <mat-sidenav-content fxFlex="" fxLayout="column">


    <mat-toolbar color="primary">


      <button mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span>候选列表</span>
      <span fxFlex></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>
      <!--<mat-toolbar-row> </mat-toolbar-row>-->


    </mat-toolbar>


    <mat-menu #menu>
      <button mat-menu-item> Settings</button>
      <button mat-menu-item> Help</button>
    </mat-menu>


    <div>

      CandidateList.component.html

    </div>


    <div fxLayout="column" class="f">
      <mat-nav-list>
        <mat-list-item>
          <a matLine>http://xxx.baidu.com</a>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <a matLine>http://xxx.baidu.com</a>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

