<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop       http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util      http://www.springframework.org/schema/util/spring-util.xsd
">

    <context:property-placeholder location="${my.prop:classpath:/conf.properties}" ignore-unresolvable="true"/>

    <util:map id="map">
        <entry key="a1" value="${a1}"/>
        <entry key="a2" value="${a2}"/>
        <entry key="a3" value="${a3:xxx}"/>
    </util:map>
</beans>
