/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons-iconfont/dist/fonts/material-icons.css';
@import "~weui/dist/style/weui.css";


html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  display:flex;
  max-height: 100%;
}
.myHome {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
