// http://flexiejs.com/
// http://sassmeister.com/
// https://developer.mozilla.org/en-US/docs/Web/CSS/Mozilla_Extensions
// http://qooxdoo.org/docs/general/webkit_css_styles
// http://webdesign.about.com/od/css/a/css-extensions_4.htm
// http://ued.ctrip.com/webkitcss/prop/flex-direction.html
// https://msdn.microsoft.com/en-us/library/hh673531%28v=vs.85%29.aspx
// https://msdn.microsoft.com/en-us/library/windows/apps/hh453474.aspx
// https://css-tricks.com/old-flexbox-and-new-flexbox/

/*
Mozilla uses -moz-,
Opera -o-
Safari/WebKit uses -webkit-
*/

// --------------------------------- flexbox 2009
/*
http://www.w3.org/TR/2009/WD-css3-flexbox-20090723/

|Property           |Values                                                         |Initial      |Applies to                       |Inh. |Percentages  |Media  |
|-------------------|---------------------------------------------------------------|-------------|---------------------------------|-----|-------------|-------|
|box-orient         |horizontal \| vertical \| inline-axis \| block-axis \| inherit |inline-axis  |box elements                     |no   |no           |visual |
|box-direction      |normal \| reverse \| inherit                                   |normal       |box elements                     |no   |no           |visual |
|box-pack           |start \| end \| center \| justify                              |start        |box elements                     |no   |no           |visual |
|box-align          |start \| end \| center \| baseline \| stretch                  |stretch      |box elements                     |no   |no           |visual |
|box-lines          |single \| multiple                                             |single       |box elements                     |no   |no           |visual |
|box-ordinal-group  |\<integer\>                                                    |1            |children of box elements         |no   |no           |visual |
|box-flex           |\<number\>                                                     |0.0          |in-flow children of box elements |no   |no           |visual |
|box-flex-group     |\<integer\>                                                    |1            |in-flow children of box elements |no   |no           |visual |
*/

// ------------ box container
@mixin display-box() {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}

@mixin box-orient($v) {
  -moz-box-orient: $v;
  -webkit-box-orient: $v;
  box-orient: $v;
}

@mixin box-direction($v) {
  -moz-box-direction: $v;
  -webkit-box-direction: $v;
  box-direction: $v;
}

@mixin box-pack($v) {
  -moz-box-pack: $v;
  -webkit-box-pack: $v;
  box-pack: $v;
}

@mixin box-align($v) {
  -moz-box-align: $v;
  -webkit-box-align: $v;
  box-align: $v;
}

@mixin box-lines($v) {
  -webkit-box-lines: $v;
  box-lines: $v;
}

// ------------ children of box container
@mixin box-ordinal-groups($v) {
  -moz-box-ordinal-group: $v;
  -webkit-box-ordinal-group: $v;
  box-ordinal-group: $v;
}

@mixin box-flex($v) {
  -moz-box-flex: $v;
  -webkit-box-flex: $v;
  box-flex: $v;
}

@mixin box-flex-group($v) {
  -webkit-box-flex-group: $v;
  box-flex-group: $v;
}

// --------------------------------- flexbox 2011

/*
http://www.w3.org/TR/2011/WD-css3-flexbox-20111129/

|Property       |Values                                                                         |Initial    |Applies to             |Inh.   |Percentages |Media|
|---------------|-------------------------------------------------------------------------------|-----------|-----------------------|-------|-------------------|-------|
|display        |flexbox \| inline-flexbox                                                      |           |                       |       |                   |       |
|flex-flow      |[ row \| row-reverse \| column \| column-reverse ] [ wrap \| wrap-reverse ]?   |row        |flexboxes              |no     |specified value    |visual |
|flex-pack      |start \| end \| center \| justify                                              |start      |flexboxes              |no     |specified value    |visual |
|flex-line-pack |start \| end \| center \| justify                                              |start      |multi-line flexboxes   |no     |specified value    |visual |
|flex-align     |start \| end \| center \| baseline \| stretch                                  |stretch    |flexbox items          |no     |specified value    |visual |
|flex-order     |\<number\>                                                                     |0          |flexbox items          |no     |specified value    |visual |
*/
// ------------ box container
@mixin display-flexbox($v) {

  @if $v == "flexbox" {
    display: -ms-flexbox;
  } @else {
    display: -ms-inline-flexbox;
  }
  display: $v;
}

@mixin flexbox-flex-flow($flex-direction, $flex-wrap) {
  flex-flow: $flex-direction, $flex-wrap;
}

@mixin flexbox-flex-pack($v) {

  -ms-flex-pack: $v;
  flex-pack: $v;
}

@mixin flexbox-flex-line-pack($v) {
  flex-line-pack: $v;
}

// ------------ children of box container

@mixin flexbox-flex-align($v) {
  -ms-flex-align: $v;
  flex-align: $v;
}

@mixin flexbox-flex-order($v) {
  flex-order: $v;
}

// --------------------------------- flexbox 2015

/*
http://www.w3.org/TR/2015/WD-css-flexbox-1-20150514

|Name               |Value                                                                        |Initial                    |Applies to                                                       |Inh.                       |%ages                                            |Media                      |Animatable                 |Canonical order  |Computed value                                                       |
|-------------------|-----------------------------------------------------------------------------|---------------------------|-----------------------------------------------------------------|---------------------------|-------------------------------------------------|---------------------------|---------------------------|-----------------|---------------------------------------------------------------------|
|flex-direction     |row \| row-reverse \| column \| column-reverse                               |row                        |flex containers                                                  |no                         |n/a                                              |visual                     |no                         |                 |specified value                                                      |
|flex-wrap          |nowrap \| wrap \| wrap-reverse                                               |nowrap                     |flex containers                                                  |no                         |n/a                                              |visual                     |no                         |                 |specified value                                                      |
|flex-flow          |\<flex-direction\> \|\| \<flex-wrap\>                                        |see individual properties  |see individual properties                                        |see individual properties  |see individual properties                        |see individual properties  |see individual properties  |                 |see individual properties                                            |
|justify-content    |flex-start \| flex-end \| center \| space-between \| space-around            |flex-start                 |flex containers                                                  |no                         |n/a                                              |visual                     |no                         |                 |specified value                                                      |
|align-items        |flex-start \| flex-end \| center \| baseline \| stretch                      |stretch                    |flex containers                                                  |no                         |n/a                                              |visual                     |no                         |                 |specified value                                                      |
|align-content      |flex-start \| flex-end \| center \| space-between \| space-around \| stretch |stretch                    |multi-line flex containers                                       |no                         |n/a                                              |visual                     |no                         |                 |specified value                                                      |
|order              |\<integer\>                                                                  |0                          |flex items and absolutely-positioned children of flex containers |no                         |n/a                                              |visual                     |yes                        |                 |specified value                                                      |
|flex-grow          |\<number\>                                                                   |0                          |flex items                                                       |no                         |n/a                                              |visual                     |yes                        |                 |specified value                                                      |
|flex-shrink        |\<number\>                                                                   |1                          |flex items                                                       |no                         |n/a                                              |visual                     |yes                        |                 |specified value                                                      |
|flex-basis         |content \| \<'width'\>                                                       |auto                       |flex items                                                       |no                         |relative to the flex container’s inner main size |visual                     |as width                   |                 |as specified, with lengths made absolute                             |
|flex               |none \| [ \<'flex-grow'\> \<'flex-shrink'\>? \|\| <'flex-basis'> ]           |see individual properties  |flex items                                                       |see individual properties  |n/a                                              |visual                     |no                         |per grammar      |see individual properties                                            |
|align-self         |auto \| flex-start \| flex-end \| center \| baseline \| stretch              |auto                       |flex items                                                       |no                         |n/a                                              |visual                     |no                         |                 |auto computes to parent’s align-items value; otherwise as specified  |
*/

// ------------ box container
@mixin display-flex($v) {

  // 2009
  @include display-box();

  // 2011
  @if $v == "flex" {
    @include display-flexbox(flexbox);
  } @else {
    @include display-flexbox(inline-flexbox);
  }

  // 2015
  display: $v;
}

@mixin flex-direction($v) {

  // 2009
  @if $v == "row" {
    @include box-orient(horizontal);
    @include box-direction(normal);
  } @else if $v == "row-reverse" {
    @include box-orient(horizontal);
    @include box-direction(reverse);
  } @else if $v == "column" {
    @include box-orient(vertical);
    @include box-direction(normal);
  } @else if $v == "column-reverse" {
    @include box-orient(vertical);
    @include box-direction(reverse);
  }

  // 2011

  // 2015
  -ms-flex-direction: $v;
  -webkit-flex-direction: $v;
  flex-direction: $v;
}

@mixin flex-wrap($v) {

  // 2009
  @if $v == "nowrap" {
    @include box-lines(single);
  } @else {
    @include box-lines(multiple);
  }

  // 2011
  @if $v != "nowrap" {
    @include flexbox-flex-flow(null, $v); // FIXME
  }

  // 2015
  @if $v == "nowrap" {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $v;
  }
  -webkit-flex-wrap: $v;
  flex-wrap: $v;
}

@mixin flex-flow($flex-direction, $flex-wrap) {

  // 2009

  // 2011
  @include flexbox-flex-flow($flex-direction, $flex-wrap);

  // 2015
  @include flex-direction($flex-direction);
  @include flex-wrap($flex-wrap);
}

@mixin justify-content($v) {

  // 2009
  @if $v == "flex-start" {
    @include box-pack(start);
  } @else if $v == "flex-end" {
    @include box-pack(end);
  } @else if $v == "center" {
    @include box-pack(center);
  } @else {
    @include box-pack(justify);
  }

  // 2011
  @if $v == "flex-start" {
    @include flexbox-flex-pack(start);
  } @else if $v == "flex-end" {
    @include flexbox-flex-pack(end);
  } @else if $v == "center" {
    @include flexbox-flex-pack(center);
  } @else {
    @include flexbox-flex-pack(justify);
  }

  // 2015
  -webkit-justify-content: $v;
  justify-content: $v;
}

@mixin align-items($v) {

  // 2009
  @if $v == "flex-start" {
    @include box-align(start)
  } @else if $v == "flex-end" {
    @include box-align(end)
  } @else {
    @include box-align($v)
  }

  // 2011
  @if $v == "flex-start" {
    @include flexbox-flex-align(start);
  } @else if $v == "flex-end" {
    @include flexbox-flex-align(end);
  } @else {
    @include flexbox-flex-align($v);
  }

  // 2015
  -webkit-align-items: $v;
  align-items: $v;
}

@mixin align-content($v) {
  // 2009

  // 2011
  @if $v == "flex-start" {
    @include flexbox-flex-line-pack(start);
  } @else if $v == "flex-end" {
    @include flexbox-flex-line-pack(end);
  } @else if $v == "center" {
    @include flexbox-flex-line-pack(center);
  } @else if $v == "space-between" {
    @include flexbox-flex-line-pack(justify);
  }

  // 2015
  -webkit-align-content: $v;
  align-content: $v;
}

// ------------ children of box container
@mixin order($v) {

  // 2009
  @include box-ordinal-group($v);

  // 2011
  @include flexbox-flex-order($v);

  // 2015
  order: $v;
}

@mixin flex-grow($v) {

  // 2009
  @include box-flex($v);

  // 2011

  // 2015
  -webkit-flex-grow: $v;
  flex-grow: $v;
}

@mixin flex-shrink($v) {
  // 2009
  // 2011
  // 2015
  -webkit-flex-shrink: $v;
  flex-shrink: $v;
}

@mixin flex-basis($v) {
  // 2009
  // 2011
  // 2015
  -webkit-flex-basis: $v;
  flex-basis: $v;
}

@mixin flex($v) {
  // 2009
  // 2011
  // 2015
  @debug "DO NOT USE @mixin flex"; // FIXME
  -webkit-flex: $v;
  -ms-flex: $v;
  flex: $v;
}

@mixin align-self($v) {
  // 2009
  // 2011
  // 2015
  -webkit-align-self: $v;
  align-self: $v;
}

