<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>flex generator</title>

    <!--<link rel="stylesheet" href="https://material.angularjs.org/latest/angular-material.min.css">-->


    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.4.8/angular.js"></script>
    <!--<script src="https://cdn.bootcss.com/angular.js/1.4.8/angular-animate.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/angular.js/1.4.8/angular-aria.js"></script>-->
    <!--<script src="https://material.angularjs.org/latest/angular-material.min.js"></script>-->


    <style>

.flexbox {

}

        .flex-container {
            width: 300px;
            height: 300px;
            background-color: #e4b9c0;
        }

        .flex-item {
            background-color: #b2dba1;
        }

    </style>
    <script>
        //http://www.ccwebsite.com/flex-layout-old-and-new-compatible/?utm_source=tuicool&utm_medium=referral
        //https://css-tricks.com/snippets/css/a-guide-to-flexbox/

        var myApp = angular.module('myApp', ['ngMaterial']);
        myApp.controller('MyCtrl', ['$scope', function ($scope) {

            $scope.flex = {
                container: {
                    style: {
                        "width": "300px",
                        "height": "300px",
                        "background-color": "#e4b9c0",

                        "display": "flex",
                        "justify-content": "",
                        "align-items": "",
                        "flex-direction": "",
                        "flex-wrap": "",
                        "flex-flow": "",
                        "align-content": ""
                    },
                    styleValues: {
                        "display": {
                            type: "enum",
                            default: "flex",
                            candidates: ["", "flex", "inline-flex"]
                        },

                        "flex-direction": {
                            type: "enum",
                            default: "",
                            candidates: ["", "row", "row-reverse", "column", "column-reverse"]
                        },
                        "flex-wrap": {
                            type: "enum",
                            default: "",
                            candidates: ["", "nowrap", "wrap", "wrap-reverse"]
                        },
                        // "flex-flow":[]
                        "justify-content": {
                            type: "enum",
                            default: "",
                            candidates: ["", "flex-start", "flex-end", "center", "space-between", "space-around"]
                        },
                        "align-items": {
                            type: "enum",
                            default: "",
                            candidates: ["", "flex-start", "flex-end", "center", "baseline", "stretch"]
                        }
                    }
                },

                item: {
                    style: {
                        "background-color": "#b2dba1",
                        "display": "",
                        "justify-content": "",
                        "align-items": "",
                        "flex-direction": "",
                        "flex-wrap": "",
                        "flex-flow": "",
                        "align-content": ""
                    },
                    styleValues: {
                        "order": {
                            type: "int",
                            default: 0
                        },
                        "flex-grow": {
                            type: "int",
                            default: 0
                        },
                        "flex-shrink": {
                            type: "int",
                            default: 0
                        },
                        "flex-basis": '',
                        "align-self": {
                            type: "enum",
                            default: "",
                            candidates: ["", "auto", "flex-start", "flex-end", "center", "baseline", "stretch"]
                        }
                    }
                }
            };

            $scope.$watch("flex.container.style.display", function (newValue, oldValue) {

            });
        }]);
    </script>
</head>
<body ng-controller="MyCtrl">


<div ng-style="flex.container.style">
    <div ng-style="flex.item.style">A</div>
    <div ng-style="flex.item.style">B</div>
    <div ng-style="flex.item.style">C</div>
</div>

<div layout="row">

    <div flex="">
        <md-toolbar class="md-theme-light">
            <h2 class="md-toolbar-tools">
                <span>container</span>
            </h2>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="(cssName, cssValues) in flex.container.styleValues">
                    <md-input-container>
                        <label>{{cssName}}</label>

                        <md-select ng-model="flex.container.style[cssName]" ng-if="cssValues.type='enum'">
                            <md-option ng-value="cssValue" ng-repeat="cssValue in cssValues.candidates">{{cssValue}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <div flex="">
        <md-toolbar class="md-theme-light md-accent">
            <h2 class="md-toolbar-tools">
                <span>item</span>
            </h2>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="(cssName, cssValues) in flex.item.styleValues">
                    <md-input-container>
                        <label>{{cssName}}</label>
                        <md-select ng-model="flex.item.style[cssName]" ng-if="cssValues.type='enum'">
                            <md-option ng-value="cssValue" ng-repeat="cssValue in cssValues.candidates">{{cssValue}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>

</body>
</html>


<!--
http://www.w3.org/TR/css3-flexbox/
http://www.w3.org/TR/2009/WD-css3-flexbox-20090723/
https://developer.mozilla.org/en-US/docs/Web/CSS/Mozilla_Extensions
https://github.com/doctyper/flexie/blob/master/src/flexie.js
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
-->


<!-- 旧语法: for container
display: -moz-box; /*Firefox*/
display: -webkit-box; /*Safari,Opera,Chrome*/
display: -ms-flexbox;
display: box;


-moz-box-pack: center; /*Firefox*/
-webkit-box-pack: center; /*Safari,Opera,Chrome*/
-ms-flex-pack:
box-pack: start | end | center | justify;
// 主轴（水平方向）对齐：左对齐（默认） | 右对齐 | 居中对齐 | 左右对齐

-moz-box-align: center; /*Firefox*/
-webkit-box-align: center; /*Safari,Opera,Chrome*/
-webkit-align-items:
-ms-flex-align:
box-align: start | end | center | baseline | stretch;
// 交叉轴(垂直方向)对齐：顶部对齐（默认） | 底部对齐 | 居中对齐 | 文本基线对齐 | 上下对齐并铺满

-moz-box-direction: reverse; /*Firefox*/
-webkit-box-direction: reverse; /*Safari,Opera,Chrome*/
box-direction: normal | reverse | inherit;
// 显示方向：默认方向 | 反方向 | 继承子元素的 box-direction


-moz-box-orient: horizontal; /*Firefox*/
-webkit-box-orient: horizontal; /*Safari,Opera,Chrome*/
box-orient: horizontal | vertical | inline-axis | block-axis | inherit;
// 排列方向：水平 | 垂直 | 行内方式排列（默认） | 块方式排列 | 继承父级的box-orient
// 是否应水平或垂直排列

-moz-box-lines: multiple; /*Firefox*/
-webkit-box-lines: multiple; /*Safari,Opera,Chrome*/
box-lines: single | multiple;
// 允许换行：不允许（默认） | 允许
// 定义当子元素超出了容器是否允许子元素换行。

-ms-flex-line-pack:
-->


<!-- 旧语法: for item
-moz-box-flex: 1.0; /*Firefox*/
-webkit-box-flex: 1.0; /*Safari,Opera,Chrome*/
box-flex: 0;
// 伸缩：<一个浮点数，默认为0.0，即表示不可伸缩，大于0的值可伸缩，柔性相对
// 是否允许当前子元素伸缩

-moz-box-ordinal-group: 1; /*Firefox*/
-webkit-box-ordinal-group: 1; /*Safari,Opera,Chrome*/
box-ordinal-group: 1;

box-ordinal-group: <integer>;
// 显示次序：<一个整数，默认为1，数值越小越排前>


-->


<!-- 新语法: for container
display: -webkit-flex; /*webkit*/
display: flex;

display: -webkit-inline-flex; /*webkit*/
display:inline-flex;  // 行内flex

-webkit-justify-content：
justify-content: flex-start | flex-end | center | space-between | space-around;
/*主轴对齐方式：左对齐（默认） | 右对齐 | 居中对齐 | 两端对齐 | 平均分布*/

align-items: flex-start | flex-end | center | baseline | stretch;
/*交叉轴对齐方式：顶部对齐（默认） | 底部对齐 | 居中对齐 | 上下对齐并铺满 | 文本基线对齐*/

-webkit-flex-direction:
-ms-flex-direction:
flex-direction: row | row-reverse | column | column-reverse;
/* 主轴方向：左到右（默认） | 右到左 | 上到下 | 下到上*/

-ms-flex-wrap:
-webkit-flex-wrap:
flex-wrap: nowrap | wrap | wrap-reverse;
/*换行：不换行（默认） | 换行 | 换行并第一行在下方*/

flex-flow: <flex-direction> || <flex-wrap>;
/*主轴方向和换行简写*/

-webkit-align-content:
align-content: flex-start | flex-end | center | space-between | space-around | stretch;
/*多主轴对齐：顶部对齐（默认） | 底部对齐 | 居中对齐 | 上下对齐并铺满 | 上下平均分布*/
-->


<!-- 新语法: for item

order: <integer>;
/*排序：数值越小，越排前，默认为0*/

flex-grow: <number>; /* default 0 */
/*放大：默认0（即如果有剩余空间也不放大，值为1则放大，2是1的双倍大小，以此类推）*/

flex-shrink: <number>; /* default 1 */
/*缩小：默认1（如果空间不足则会缩小，值为0不缩小）*/

flex-basis: <length> | auto; /* default auto */
/*固定大小：默认为0，可以设置px值，也可以设置百分比大小*/

flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
/*flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto，*/

align-self: auto | flex-start | flex-end | center | baseline | stretch;
/*单独对齐方式：自动（默认） | 顶部对齐 | 底部对齐 | 居中对齐 | 上下对齐并铺满 | 文本基线对齐*/
-->

