<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
  <title>The Perfect 3 Column Liquid Layout: No CSS hacks. SEO friendly. iPhone compatible.</title>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="3Column.css" media="screen" />
</head>
<body style="text-align:right;">

<div id="header" style="border:5px solid #9ACD32; background:#C0FF3E;">
header <a href="http://matthewjamestaylor.com/blog/perfect-3-column.htm">ref</a>
</div>

<div class="colmask threecol">colmask <!-- 只为花边框和留余白 -->
  <div class="colmid">colmid <!-- 只为花边框和留余白 -->
    <div class="colleft">colleft <!-- 只为花边框和留余白 -->

      <div class="col1" style="border:5px solid #CDAF95; background:#FFDAB9;">col1<br/>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></div>

      <div class="col2" style="border:5px solid #B7B7B7; background:#E0E0E0;">col2</div>

      <div class="col3"style="border:5px solid #CDAF95; background:#FFDAB9;">col3</div>

    </div>
  </div>
</div>
<div id="footer" style="border:5px solid #CD8500; background:#FFA500;">footer</div>

</body>
</html>
