<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<style type="text/css">
*{
  border:none;
  margin:0;
  padding:0;
}
.inputTable {
  border: 1px solid #6DAEDA;
  width: 450px;
  height: 80px;
  margin-left: 10px;
}

.inputPanel {
  width: 360px;
  height: 80px;
  overflow-y: scroll;
}

</style>
</head>
<body>
  <input type="text"  value="IE 7 下边框宽度为 2px， why?" size="50" />

  <div class="inputTable">
    <textarea class="inputPanel" rows="10"cols="10">1111111</textarea>
  </div>
  <br />
  <div class="inputTable">
    <span><textarea class="inputPanel" rows="10"cols="10">2222222 IE7 有此问题，
    但是现在也仅仅解决了横向margin问题，纵向和border宽度仍未解决</textarea></span>
  </div>

</body>
</html>
