

.a {
  background-color: chartreuse;
  text-align: center;
  vertical-align: middle;

}

.b {
  background-color: darkorange;
  text-align: center;
}

.c {
  background-color: royalblue;
  text-align: center;
}
