<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/angular-material/1.0.6/angular-material.min.css">
    <!--
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    -->

    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.bootcss.com/angular.js/1.5.0/angular.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.5.0/angular-animate.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.5.0/angular-aria.min.js"></script>

    <script src="https://cdn.bootcss.com/angular-material/1.0.6/angular-material.min.js"></script>

    <script src="app.js"></script>
    <script>
        var optionSample = {

            legend: {
                data: ['qh-core', 'qh-domain', 'qh-service', 'qh-admin', 'qh-wap', 'qh-wap-front']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['南瓜', '般若', '胡杨', '青蒿', '可可', '菩提', '唐印']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: 'qh-core',
                    type: 'bar',
                    stack: 'gitCommitCount',
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: 'qh-service',
                    type: 'bar',
                    stack: 'gitCommitCount',
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: 'qh-admin',
                    type: 'bar',
                    stack: 'gitCommitCount',
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: 'qh-wap',
                    type: 'bar',
                    stack: 'gitCommitCount',
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: 'qh-wap-front',
                    type: 'bar',
                    stack: 'gitCommitCount',
                    data: [862, 1018, 964, 1026, 1679, 1600, 1570]
                }
            ]
        };
    </script>
</head>
<body ng-controller="MyCtrl as vm">

<md-select  ng-model="vm.curStat" ng-change="vm.updateChart()" style="min-width: 200px;" >
    <md-option ng-value="stat" ng-repeat="stat in vm.stats">{{stat.label}}</md-option>
</md-select>


<div id="main" style="width: 100%; height:400px;"></div>
</body>
</html>