<!--<mat-sidenav-container fxFlex="" >-->
<!--<mat-sidenav mode="side" opened="true" style="background-color: lightgray;">-->
<!--Sidenav content-->
<!--</mat-sidenav>-->
<!--<mat-sidenav-content>-->
<!--<div class="aaa" (click)="changeNum()"> aaa.v = {{v}}, n = {{n}}</div>-->
<!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<mat-toolbar color="primary">
  <span>My Application</span>
  <span class="example-spacer"></span>
  <mat-icon>verified_user</mat-icon>
  <mat-icon>face</mat-icon>
</mat-toolbar>

<mat-sidenav-container  >
  <mat-sidenav mode="over" [opened]="checked">Sidenav content</mat-sidenav>
  <mat-sidenav-content>

    <perfect-scrollbar fxFlex class="aaa" >
      <ol>
        <li>sss <div class="bbb" (click)="changeNum()">bbb.v = {{v}}, n = {{n}}</div></li>
        <li>sss <mat-checkbox  [(ngModel)]="checked">Checked</mat-checkbox></li>
        <li>

          <ol>
            <li routerLink="/index.html" routerLinkActive="active">aaa</li>
            <li routerLink="/bbb" routerLinkActive="active">bbb</li>
            <li routerLink="/ccc" routerLinkActive="active" [queryParams]="{n: 888}"
               queryParamsHandling="merge"
            >ccc</li>

            <li [routerLink]="['/xxx', {outlets: {'header': ['11'], 'footer': ['12']}}]" routerLinkActive="active">xxx</li>


            <li routerLink="/watch" routerLinkActive="active">watch</li>
            <li routerLink="/http" routerLinkActive="active">http</li>
            <li routerLink="/flex" routerLinkActive="active">flex</li>
            <li routerLink="/mat" routerLinkActive="active">mat</li>
            <li routerLink="/primeng" routerLinkActive="active">primeng</li>
            <li routerLink="/ionic" routerLinkActive="active">ionic</li>
            <li routerLink="/clarity" routerLinkActive="active">clarity</li>
            <!--<a routerLink="/ons" routerLinkActive="active">Onsen UI</a>-->
            <li routerLink="/sort-chip" routerLinkActive="active">sort-chip</li>
            <li routerLink="/sort-select" routerLinkActive="active">sort-select</li>
          </ol>

        </li>

        <li>sss12  <span highlight> ddddd </span></li>
        <li>sss  <span my-directive highlightColor="yellow"> MyDirective - yellow</span> </li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
      </ol>
    </perfect-scrollbar>

  </mat-sidenav-content>
</mat-sidenav-container>





<div class="bbb" style="height:40px;">footer</div>
