<!--<mat-sidenav-container fxFlex="" >-->
<!--<mat-sidenav mode="side" opened="true" style="background-color: lightgray;">-->
<!--Sidenav content-->
<!--</mat-sidenav>-->
<!--<mat-sidenav-content>-->
<!--<div class="aaa" (click)="changeNum()"> aaa.v = {{v}}, n = {{n}}</div>-->
<!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<mat-toolbar color="primary">
  <span>My Application</span>
  <span class="example-spacer"></span>
  <mat-icon>verified_user</mat-icon>
  <mat-icon>face</mat-icon>
</mat-toolbar>

<mat-sidenav-container  >
  <mat-sidenav mode="over" [opened]="checked">Sidenav content</mat-sidenav>
  <mat-sidenav-content>

    <perfect-scrollbar fxFlex class="aaa" >
      <ol>
        <li>sss <div class="bbb" (click)="changeNum()">bbb.v = {{v}}, n = {{n}}</div></li>
        <li>sss <mat-checkbox  [(ngModel)]="checked">Checked</mat-checkbox></li>
        <li>
          <a routerLink="/index.html" routerLinkActive="active">aaa</a>
          <a routerLink="/bbb" routerLinkActive="active">bbb</a>
          <a routerLink="/ccc" routerLinkActive="active" [queryParams]="{n: 888}"
             queryParamsHandling="merge"
          >ccc</a>
          <a routerLink="/http" routerLinkActive="active">http</a>
          <a routerLink="/flex" routerLinkActive="active">flex</a>
          <a routerLink="/mat" routerLinkActive="active">mat</a>
          <a routerLink="/primeng" routerLinkActive="active">primeng</a>
          <a routerLink="/ionic" routerLinkActive="active">ionic</a>
          <a routerLink="/clarity" routerLinkActive="active">clarity</a>
          <!--<a routerLink="/ons" routerLinkActive="active">Onsen UI</a>-->
          <a routerLink="/sort-chip" routerLinkActive="active">sort-chip</a>
          <a routerLink="/sort-select" routerLinkActive="active">sort-select</a>
        </li>

        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
        <li>sss</li>
      </ol>
    </perfect-scrollbar>

  </mat-sidenav-content>
</mat-sidenav-container>





<div class="bbb" style="height:40px;">footer</div>
